.navbar {
    display: flex;
    justify-content: center;
    z-index: 10;
}

.navlink-title {
    color: black;
    text-decoration: none;
    padding: 0 5px;
}

.site-title {
    color: black;
    text-decoration: none;
    padding: 0 5px;
    font-size: 25px;
}

.site-title:hover, .navlink-title:hover{
    text-decoration: none;
}
  
.pin {
    position: fixed;
    top: 0;
    width: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.title:hover .title2 { color: white; }

.text {
    float: right;
    padding-left: 5px;
}

.middle {
    align-items: center;
}

.pfp {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.pfp-big {
    height: 200px;
    width: 200px;
    display:block;
    margin: auto;
    margin-bottom: 20px;
    border: 3px solid rgb(75, 75, 75);
}

.username {
    padding-left: 10px;
}

@media (max-width:800px){
    .navlink-title {
        font-size: 13px;
    }

    .site-title {
        font-size: 16px;
    }

    .username {
        display: none;
    }

    .pfp {
        height: 30px;
        width: 30px;
    }
  }