.top-panel {
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

.tab {
    width: 80%;
}

.user-bets-container {
    margin-bottom: 20px;
    border: 2px solid black;
    width: 40%;
}

.user-email-container {
    background-color: #364250;
    width: 100%;
    border-bottom: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.user-email {
    width: 100%;
    text-align: center;
    color: white;
}

.num-bets {
    text-align: center;
    color: white;
    font-size: 15px;
}

.user-bets {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    max-height: 450px;
    overflow: auto;
}

.user-bet {
    border: 2px solid black;
    margin-bottom: 10px;
}

.user-bet-type {
    text-align: center;
    color: rgb(193, 36, 36);
    font-weight: bold;
}

.bet-info {
    padding: 10px;
}

.risk-win-bookie {
    color: black;
    font-size: 14px;
}

.bookie-footer {
    position: relative;
    padding: 10px 0px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bookie-timestamp {
  text-align: center;
  padding-bottom: 10px;
}

.payout-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.payout-button {
    background-color: rgb(193, 36, 36);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    margin-bottom: 5px;
    padding: 6px 10px;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.payout-button:hover {
    background-color: rgb(195, 72, 72);
}

.paid-out {
    background-color: white;
    color: green;
    padding: 6px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.bookie-bet-result {
    font-size: 14px;
}

.in-progress {
    color: #364250;
}

.win {
    color: green;
    font-size: 20px;
}

.loss {
    color: rgb(193, 36, 36);
    font-size: 20px;
}