.clear-button-container {
    z-index: 2;
    margin-left: -27px;
}

.clear-button {
    background-color: white;
    border: none;
}

.search-input {
    width: 250px;
    border-radius: 5px;
}

.use-curr-button {
    background-color: transparent;
    border-radius: 5px;
    margin-left: 15px;
}

.use-curr-button:hover {
    background-color: rgb(40, 115, 206);
    color: white;
}

.icon {
    transform: translateY(-15%);
}

.sub-bar {
    text-align: center;
}

.dropdown {
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  z-index: 1000;
  border-radius: 0 0 2px 2px;
  text-align: center;
  align-items: center;
  width: 500px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

@media (max-width:600px){
    .button-text {
      display: none;
    }

    .clear-button {
        padding: auto;
    }

  }