.iw-container {
	margin-bottom: 10px;
}

.iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	background-color: #48b5e9;
	text-align: center;
	color: white;
	margin: 15px;
	border-radius: 2px 2px 0 0;

}

.iw-title {
	padding: 10px 10px 7px 10px;
}

.iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}

.iw-content img {
	float: right;
	margin: 0 5px 5px 10px;	
}

.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}

  .map-image {
	height: 250px;
	width: 250px;
	display: block;
	margin: auto;
	object-fit: cover;
	border-radius: 10px;
  	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
	margin-bottom: 10px;
  }

  .name-location {
	  padding-bottom: 20px;
  }

  .home-refresh-button {
	position: absolute;
	z-index: 10;
	margin: 0 0 50px 10px;
	bottom: 0;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(216, 216, 216);
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 8px;
	color: rgb(38, 38, 38);
	font-family: Arial, Helvetica, sans-serif;
  }

  .home-refresh-button:hover {
	  color: black;
  }

  .refresh-icon {
	transform: translateY(-9%);
	margin-right: 5px;
  }

  @media (max-width:600px){
	.iw-container .iw-title {
	  font-size: 17px;
	}
	.iw-content .iw-subTitle {
		font-size: 12px;
	}

	.home-refresh-button {
		margin: 0 0 0px 10px;
	}
  }  