.navbar {
    justify-content: center;
    z-index: 10;
    background-color: #ffffff;
}

.navbar-content {
    padding: 0;
    margin: 0;
}

.logo {
    width: 50px;
    margin: 0 auto;
}

.sports-bar {
    background-color: #364250;
    padding: 10px;
    width: 100%;
}

.sports-bar-active {
    background-color: #495665;
}

.navlink-username {
    color: #364250;
}

.navlink-username:hover {
    color: #373a3c;
    text-decoration: none;
}

.navlink-title {
    color: rgb(255, 255, 255);
    padding: 5px 50px;
    text-align: center;
    border: 1px solid #364250;
    border-radius: 10px;
}

.navlink-title:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: #495665;
}

.site-title {
    color: rgb(193, 36, 36);
    text-decoration: none;
    font-size: 25px;
}

.login-button, .join-button {
    display: inline-block;
    width: 60px;
}

.site-title:hover, .navlink-title:hover{
    text-decoration: none;
}
  
.pin {
    position: fixed;
    top: 0;
    width: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.text {
    float: right;
    padding-left: 5px;
}

.pfp {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.sign-in-icon {
    display: none;
}

.pfp-big {
    height: 200px;
    width: 200px;
    display:block;
    margin: auto;
    margin-bottom: 20px;
    border: 3px solid rgb(75, 75, 75);
    object-fit: cover;
}

.username {
    padding-left: 10px;
}

.site-title:hover .logo{
    filter: invert(21%) sepia(49%) saturate(3375%) hue-rotate(201deg) brightness(93%) contrast(105%);
}

@media (max-width:1000px){
    .navlink-title {
        font-size: 10px;
        padding: 5px 10px;
        margin: 0;
    }

    .sports-bar {
        padding: 0;
    }

    .site-title {
        font-size: 16px;
    }

    .username {
        display: none;
    }

    .sign-in {
        display: none;
    }

    .sign-in-icon {
        display: inline;
    }

    .pfp {
        height: 30px;
        width: 30px;
    }

    .logo {
        display: none;
    }
  }