.navbar {
    display: flex;
    justify-content: center;
    z-index: 10;
}

.navlink-title {
    color: black;
    text-decoration: none;
    padding: 0 5px;
}

.site-title {
    color: black;
    text-decoration: none;
    font-size: 25px;
}

.site-title:hover, .navlink-title:hover{
    text-decoration: none;
}


  
.pin {
    position: fixed;
    top: 0;
    width: 100%;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.text {
    float: right;
    padding-left: 5px;
}

.pfp {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.sign-in-icon {
    display: none;
}

.pfp-big {
    height: 200px;
    width: 200px;
    display:block;
    margin: auto;
    margin-bottom: 20px;
    border: 3px solid rgb(75, 75, 75);
    object-fit: cover;
}

.username {
    padding-left: 10px;
}

.site-title:hover .logo{
    filter: invert(21%) sepia(49%) saturate(3375%) hue-rotate(201deg) brightness(93%) contrast(105%);
}

@media (max-width:800px){
    .navlink-title {
        font-size: 13px;
    }

    .site-title {
        font-size: 16px;
    }

    .username {
        display: none;
    }

    .sign-in {
        display: none;
    }

    .sign-in-icon {
        display: inline;
    }

    .pfp {
        height: 30px;
        width: 30px;
    }

    .logo {
        display: none;
    }
  }